.layout {
  /*display:;*/
  /*grid-template-columns:;*/
  /*grid-template-rows:;*/
  /*grid-template-areas:;*/
  /*grid-gap: 5px;*/
}

.layout-nav {
  grid-area: nav;
}

.layout-header {
  grid-area: header;
}

.layout-main {
  grid-area: main;
}

.layout-aside {
  grid-area: aside;
}

.layout-footer {
  grid-area: footer;
}
