* {
  box-sizing: border-box;
}

body {
  font-family: 'Myriad Pro';
}

.grid {
  margin-top: 50px;
  font-size: 42px;
  color: #D0011B;
}

.grid > div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  border-radius: 5px;
}

.grid > div:nth-child(odd) {
  background-color: #979797;
}

.grid > div:nth-child(even) {
  background-color: #4A4A4A;
}

.special-grid-item {
  background-image: url('../duck.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px 150px;
  background-color: #979797;
}
