.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: 20px;
}

.grid-item {
  /*order: 2;*/
}

.special-grid-item {
  /*grid-column: 2 / 4;*/
  /*grid-row: 1 / 3;*/
  /*order: 1;*/
}
